body{
	font-family: 'Open Sans',sans-serif;
	background-color: rgb(255, 255, 255);
}

#kalkulator{
    background-color: #2e2e2e;
    width: 335px;
    border-radius: 10px;
    text-align: left;
  

}
#result{
    height: 120px;
    background-color:black;
    border-style: solid;
  border-color: black;
}
#historia1{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
    color: black;
    background-color: black;
}
#wyswietlacz1{
	text-align: right;
	height: 60px;
    font-size: 30px;
    background-color:black;
}


.operator {
    text-align: center;
    padding: 10px;
    width: 75px;
    height: 50px;
    margin-top: 10px;
    background-color:lightgray;
    color: black;
    font-size: 20px;
  
}
.operator:hover
{
    background-color: darkgray;
}

.liczba
{
    text-align: center;
    padding: 10px;
    width: 75px;
    height: 50px;
    margin-top: 10px;
    background-color:lightgray;
    color: black;
    font-size: 20px;
  
}
.liczba:hover
{
    background-color: darkgray;
}
.empty
{
    text-align: center;
    padding: 10px;
    width: 75px;
    height: 50px;
    margin-top: 10px;
    background-color:lightgray;
    color:lightgray;
    font-size: 20px;
}
.on 
{
    text-align: center;
    padding: 10px;
    width: 75px;
    height: 50px;
    margin-top: 10px;
    background-color:lightgray;
    color: black;
    font-size: 20px;
 
}
.on:hover
{
    background-color: darkgray;
}
.off
{
    text-align: center;
    padding: 10px;
    width: 75px;
    height: 50px;
    margin-top: 10px;
    background-color:lightgray;
    color: black;
    font-size: 20px;  
}


.off:hover
{
    background-color: darkgray;
}